{{!-- nav bar --}}

{{!-- new til component --}}
{{input value=value placeholder=placeholder}}

<button {{action 'createNewTil' value}}>create</button>
{{!-- til feed --}}
{{#each tils as |til|}}
    <p>{{til.content}}</p>
{{/each}}

{{outlet}}